*{
  outline: none;
}
.container{
  max-width: 1350px;
}
a{
  color: #fff;
  cursor: pointer;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
ul{
  li{
    list-style: none;
  }
}
body{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
}
h2{
  font-family: Arca-heavy, sans-serif;
  font-size: 32px;
}
h4{
  font-family: Arca-bold, sans-serif;
  font-size: 19px;
}
h3{
  font-family: Arca-heavy, sans-serif;
  font-size: 21px;
  color: #747474;
}
